body{
    background-color: #FECC53;
}
#header{
    text-align: center;
}

#header img{
    display: block;
    width: 175px;
    height: 175px;
    margin: 0 auto;
    /*Offset Back Button*/
    position: relative;
    right: 55px;
}

#backButton{
    font-size: 14px;
    line-height: 30px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    width: 85px;
}

#backButtonArrow{
    font-size: 22px;
}

#body form button, input{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    line-height: 25px;
}

.row{
    text-align: center;
}

#selectOption{
    text-align: center;
}

